div.content-account-info {
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);

  div.info-image {
    height: 130px;
    border-top-right-radius: var(--border-radius-small);
    border-top-left-radius: var(--border-radius-small);
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.info {
    display: flex;
    align-items: center;
    gap: var(--padding-big);
    padding: var(--padding-small);

    div.info-user {
      h4.user-name-random {
        font-size: 1.2rem;
        font-weight: bold;
      }

      p.user-account {
        color: var(--color-gray);
        font-size: 0.9rem;
      }
    }
  }
}
