div.content-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div.modal {
    position: relative;
    width: 20%;
    height: auto;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    display: flex;
    justify-content: center;
    align-items: center;

    span.modal-close {
      position: absolute;
      right: 10;
      top: 10;
      color: var(--color-red);
      cursor: pointer;
    }
  }
}
