div.content-selectUser {
  width: 20%;
  padding: var(--padding-small);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-blue-light);
  margin-top: 23px;
}
