div.content-section-edit {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  background-color: var(--color-white);
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
  position: relative;
}
