div.group-input {
  div.input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);

    &:hover {
      border: 1px solid var(--color-blue);
    }

    label {
      padding-left: var(--padding-small);
    }

    span.input-icon {
      padding-right: var(--padding-small);
      color: var(--color-gray);
    }
  }

  span.input-error {
    color: var(--color-red);
  }
}
