div.content-section-product {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  min-height: 100vh;
  padding-bottom: 200px;

  div.product-button {
    width: 25%;
    display: flex;
    align-self: flex-end;
  }
}
