@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #2292f8;
  --color-blue-hover: #1f82df;
  --color-blue-light: #f2f5fc;
  --color-blue-light-hover: #e0e7f8;
  --color-blue-light-two: #e8eff7;
  --color-black: #070707;
  --color-gray: #b5b8bf;
  --color-gray-light: #e9e8e8;
  --color-white: #ffff;
  --color-main: #F3F4F6;
  --color-red: #ff2e2e;
  --color-yellow: #f7d74d;
  --color-yellow-light: #faf6e2;
  --color-red-light: #fae2e2;
  --color-green: #2df17f;
  --color-green-light: #e8fcf0;
  --box-shadow-main: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /*Spaces */
  --padding-small: 0.8rem;
  --padding-medium: 1rem;
  --padding-big: 1.5rem;

  --margin-small: 0.8rem;
  /* Border radius */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-big: 20px;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--color-main);
}
