textarea.textarea-user {
  //   background-color: var(--color-blue-light);
  border-radius: var(--border-radius-medium);
  padding: var(--padding-small);
  outline: none;
  box-shadow: var(--box-shadow-main);
  background-color: transparent;
}
