div.product-create {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  div.create {
    width: 90%;
    border-radius: var(--border-radius-small);
    padding: var(--padding-big);
    box-shadow: var(--box-shadow-main);
    background-color: var(--color-white);

    form.create-form {
      h2.form-title {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: var(--padding-small);
      }
      div.form-image {
      }
      div.create-inputs {
        display: flex;
        flex-direction: column;
        gap: var(--padding-small);
      }

      div.form-buttons {
        display: flex;
        gap: var(--padding-small);
        margin-top: 20px;
      }
    }
  }
}
