main.content-error-credentials {
  padding: var(--padding-medium);
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  section.credentials-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-big);
    padding: var(--padding-medium);
    background-color: var(--color-white);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);

    span.section-icon {
      font-size: 2rem;
      color: var(--color-red);
    }

    h2.section-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    p.section-paragraph {
      span.paragraph-mark {
        color: var(--color-white);
        background-color: var(--color-red);
        padding: calc(var(--padding-small) - 0.5rem);
        border-radius: var(--border-radius-small);
      }
    }
  }
}
