div.content-card-task {
  box-shadow: var(--box-shadow-main);
  border-radius: var(--border-radius-small);
  padding: var(--padding-medium);

  div.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light);

    div.task-left {
      h4.left-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      p.left-paragraph {
        font-size: 0.9rem;
        color: var(--color-gray);
        padding-bottom: var(--padding-small);
      }
    }

    .task-icon {
      color: var(--color-blue);
      font-size: 1.4rem;
    }
  }
  div.task-down {
    padding-top: var(--padding-small);
    display: flex;
    justify-content: space-between;

    div.down-left {
      display: flex;
      flex-direction: column;
      gap: calc(var(--padding-small) - 0.4rem);
      p.left {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: calc(var(--padding-small) - 0.4rem);

        span.left-span {
          background-color: var(--color-blue);
          padding: calc(var(--padding-small) - 0.6rem);
          border-radius: var(--border-radius-small);
          color: var(--color-white);
        }

        span.left-span-down {
          background-color: var(--color-red);
        }
      }
    }
  }
}
